@charset "utf-8";

body, select, button {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 25px;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Fundo claro */
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

h1 {
    font-size: 35px;
    color: dodgerblue;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 25px;
    margin-right: 10px;
}

input {
    border: 1px solid #000;
    background-color: #fff;
    margin-bottom: 25px;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

input:hover {
    border-color: dodgerblue;
}

input:focus {
    border-color: dodgerblue;
    outline: none; /* Remove o contorno padrão */
}

button {
    display: inline-block;
    margin: 10px; /* Espaço entre os botões */
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 150px;
    box-sizing: border-box; /* Garantir que o padding não afete a largura */
    background-color: dodgerblue;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.2s ease;
}


button:hover {
    background-color: black;
    color: white;
}

button:active {
    background-color: dodgerblue;
    color: white;
    transform: scale(0.98); /* Efeito de clique */
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o texto dentro do contêiner */
}

.row {
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* Alinha verticalmente o texto e o resultado */
    justify-content: center; /* Centraliza horizontalmente */
}

.output {
    margin-left: 10px; /* Espaço entre o nome da moeda e o valor */
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0; /* Remover margens extras do <p> */
    margin-bottom: 0;
}

.result {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: navy;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}
